
<div class="container"></div>
<div class="container2">
  <div class="row">
    <div class="card1">
      <a href="..." class="card clickable">
          <div class="card-header">
              ¿VENEZUELA EN MLB?
          </div>
        <div class="card-img">
          <img src="../../../assets/vzlanosgl2018.jpg">
        </div>
        <div class="card-block">
          <p class="card-text">
            <strong> Revisa la actuación diaria de los jugadores VENEZOLANOS en Grandes Ligas.
             Visita la sección de Jugadores, Pitchers
              y hasta Noticias Diarias de nuestros héroes nacionales en el Menú. <button class="leer_mas"> LEER MAS.... </button> </strong>
          </p>
        </div>
      </a>

    </div>
    <div class="card2">
      <a href="..." class="card clickable">
          <div class="card-header">
              VENEZOLANOS EN JAPON
          </div>
        <div class="card-img">
          <img src="../../../assets/allStarJapon2018A.jpg">
        </div>
        <div class="card-block">
          <p class="card-text">
            <strong> Junior Guerra, Milwaukee;
              Yusmeiro Petit, Oakland;
              Robinson Chirinos, Texas;
              Eugenio Suárez, Cincinnati
              y Ronald Acuña, Atlanta,
               son los venezolanos del All Star MLB en Japón 2018. <button class="leer_mas"> LEER MAS.... </button>
            </strong>
          </p>
        </div>
      </a>
    </div>
    <div class="card3">
      <a href="..." class="card clickable">
          <div class="card-header">
              AGENTES LIBRES 18 -19
          </div>
        <div class="card-img">
          <img src="../../../assets/VZLNOSAGENTESLIBRES201819.png">
        </div>
        <div class="card-block">
          <p class="card-text">
            <strong> 15, es el número de venezolanos que tienen el estatus de Agentes Libres durante
               el receso de la temporada de beisbol en las Grandes Ligas 2018 - 2019. <button class="leer_mas"> LEER MAS.... </button></strong>
          </p>
        </div>
      </a>
    </div>

    <div class="card4">
      <a href="..." class="card clickable">
          <div class="card-header">
              PRUEBA
          </div>
        <div class="card-img">
          <img src="../../../assets/Eugenio Suarez.jpg">
        </div>
        <div class="card-block">
          <p class="card-text">
            <strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. <button class="leer_mas"> LEER MAS.... </button></strong>
          </p>
        </div>
      </a>
    </div>
    <!-- <div class="card5">
      <a href="..." class="card clickable">
        <div class="card-img">
          <img src="../../../assets/Eugenio Suarez.jpg">
        </div>
        <div class="card-block">
          <p class="card-text">
            <strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong>
          </p>
        </div>
      </a>
    </div>
    <div class="card6">
      <a href="..." class="card clickable">
        <div class="card-img">
          <img src="../../../assets/Eugenio Suarez.jpg">
        </div>
        <div class="card-block">
          <p class="card-text">
            <strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong>
          </p>
        </div>
      </a>
    </div>
  </div> -->
</div>






