* {
  margin: 0;
  padding: 0;
}

.bt-menu {
  color: #fff;
}


header {
  width: 100%;

}

header nav {
  width: 100%;
  /* max-width:768px; */
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
}


.branding {
  font-size: 1.5rem;
  font-weight: bold;
  padding: .75rem 1.5rem;
  min-width: 2.5rem;
}

.menu_bar {
  display: none;
}

header nav ul {
  overflow: hidden;
  list-style: none;
}

header nav ul li {
  float: left;
  /* margin: 0 .5rem; */

}


header nav ul li a {
  color: #fff;
  padding: 20px .5rem;
  margin: 0 .5rem;
  display: block;
  text-decoration: none;
  font-size: 1.25rem;

}

header nav ul li span {
  margin-right: 10px;
}

header nav ul li a:hover {
  background-color: rgba(14, 13, 13, 0.5);
  color: #fff;



}

section {
  padding: 20px;
}



li {
  display: block;
  transition-duration: 0.5s;
}

li:hover {
  cursor: pointer;


}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: relative;
  transition: all 0.5s ease;
  left: 0;
  display: none;
  background-color: rgba(63, 59, 59, 0.9);
}

ul li:hover>ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;

}

ul li ul li {
  clear: both;
  width: 100%;
}
ul li ul li a {
  font-size: .75rem;
  color: rgb(255, 255, 255);
}
@media screen and (max-width:2200px) {
  header nav ul li a {
    color: #fff;
    padding: 20px .5rem;
    margin: 0 .5rem;
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
  }
  .branding {
    font-size: 1.7rem;
    font-weight: bold;
    padding: .75rem 2rem;
    min-width: 8.5rem;
  }
  }
@media screen and (max-width:1200px) {
  header nav ul li a {
    color: #fff;
    padding: 20px .5rem;
    margin: 0 .5rem;
    display: block;
    text-decoration: none;
    font-size: 1rem;
  }
  .branding {
    font-size: 1.2rem;
    font-weight: bold;
    padding: .75rem 2rem;
    min-width: 2.5rem;
  }
  }
@media screen and (max-width:1020px) {
  header nav ul li a {
    color: #fff;
    padding: 20px .5rem;
    margin: 0 .1rem;
    display: block;
    text-decoration: none;
    font-size: .75rem;
  }


}



@media screen and (max-width:767px) {
  header nav {
    width: 80%;
    height: 100%;
    left: -100%;
    margin: 0;
    position: fixed;
  }

  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(3, 2, 2, 0.9);
  }

  .menu_bar {
    display: block;
    width: 100%;
  }

  .menu_bar .bt-menu {
    display: block;
    padding: 20px;
    background: rgba(18, 19, 19, 0.3);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu_responsive {
    display: flex;
  }

  .menu_bar span {
    flex: right;
    font-size: 40px;
  }


} */
.header-6 {
  background-color: rgba(0, 0, 0, 0.2);
}
.branding {
  min-width: 4.5rem;
}
.bt-menu {
  display: none;
}

span.title {
  font-size:1.5rem;
  font-weight: bold;
}
.header-nav {
width: 65%;
}
.header-actions {
  flex: 0 0 0;
   text-align: center;
  justify-content: center;
  width:10rem !important;

}

button.nav-text {
  font-size: .80rem;
  padding: 0;
}
.dropdown {
  /* width: 10em; */
  padding: 0;
}
.nav-text {
  font-size: .80rem;
  /* width: 10em; */
}
.nav-link {
  width: 13em;
  text-align: center;
}
.branding .nav-link {
  width: 6em;
  text-align: center;
}
.dropdown-menu {

  background-color: rgba(255, 255, 255, 0.95);
}
.dropdown-item{
font-weight: bold;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #19c589;
  text-align: center;
  padding: 10px 0;
  display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
  display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu {
  display: block;
}

@media screen and (max-width:767px) {
  .header-6 {
    white-space: normal;
    display: none;
  }
  
  .bt-menu {
    display: flex;
    text-align: end;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-decoration: none;    
  }
  .icon-list2 {
    width: 65vw;
    padding-bottom: 4vh;
  }
  .header-nav {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 60vh;
    background-color: rgba(71, 69, 69, 0.9);
    text-align: left;
   
  }
  .nav-link {
    display: block;
    width: 40em;
    text-align: left;
    cursor: pointer;
  }
  .dropdown {
    text-align: left; 
    width: 12em; 
  }
  .dropdown-toggle.nav-text {
    padding: 0 !important;

  }
  .header-actions {
    justify-content: flex-start;
    padding: 0 1rem;
  }

  .btn1 {
    text-align: left; 
    width: 9em; 
  }
}
}
